{% extends "aplicacion/index.html" %}

{% block titulo %}
    <div class="masthead-subheading">Verifica la lista de</div>
    <div class="masthead-heading text-uppercase">Asesores</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'asesor_form' %}">Agregar Asesores</a>
{% endblock titulo %}


{% block contenido %}
<section class="page-section" id="asesores">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Lista de Asesores</h2>
            <h3 class="section-subheading text-muted">La lista a continuación presenta todos los Asesores</h3>
        </div>
    </div>

    <center>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'buscar_asesores' %}">Buscar Asesor</a>
        <br><br/>
        <br><br/>
    </center>

    <table class="table table-striped">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sede</th>
                <th>Email</th>
            </tr>
        </thead>
        <!-- Contenido de la tabla -->
        <tbody>
            {% for c in asesores %}
            <tr>
                <td>{{c.nombre}}</td>
                <td>{{c.apellido}}</td>
                <td>{{c.sede}}</td>
                <td>{{c.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    
    
    </table>
    

</section>
{% endblock contenido %}