{% extends "aplicacion/index.html" %}

{% block titulo %}
    <div class="masthead-subheading">Verifica la lista de</div>
    <div class="masthead-heading text-uppercase">Vehículos Homologados</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'homologacion_form' %}">Agregar Homologación</a>
{% endblock titulo %}


{% block contenido %}
<section class="page-section" id="homologaciones">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Lista de vehículos Homologados</h2>
            <h3 class="section-subheading text-muted">Si el vehículo se encuentra en la lista este podrá ser convertido con más rapidez </h3>
        </div>
    </div>

    <table class="table table-striped">
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo de Conversión</th>
                <th>Marca de Equipo de Gas</th>
            </tr>
        </thead>
        <!-- Contenido de la tabla -->
        <tbody>
            {% for c in homologaciones %}
            <tr>
                <td>{{c.marca}}</td>
                <td>{{c.modelo}}</td>
                <td>{{c.tipo_conversion}}</td>
                <td>{{c.equipo_gas}}</td>

            </tr>
            {% endfor %}
        </tbody>
    
    
    </table>
    

</section>
{% endblock contenido %}